{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "styled-components",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}
