@import '../../../mixins';
@import '../../../theme';

.hero {
  @include page;
  align-items: center;
  background: url('../../../images/banner.jpg') no-repeat center / cover;
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    color: $black;
    font-family: 'Nunito', sans-serif;
    font-size: 300px;
    font-weight: 400;

    @include mobile {
      font-size: 100px;
    }
  }
}
