script.
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-77079907-1','auto');ga('send','pageview')
script(src="https://www.google-analytics.com/analytics.js" async defer)
