section#photos
  header
    h2
      span.bold Featured&nbsp;
      span.light Photos
  .photos-container
    img(src="img/woods.jpg" alt="woods" height="400" width="400")
    img(src="img/glass.jpg" alt="glass" height="400" width="400")
    img(src="img/neon.jpg" alt="neon" height="400" width="400")
    img(src="img/live.jpg" alt="live" height="400" width="400")
