section#photos
  header
    h2
      span.bold Featured&nbsp;
      span.light Photos
  .photos-container
    each photo in photos.images
      img(src="#{photo.src}" alt="#{photo.alt}" height="#{photos.height}" width="#{photos.width}")
