section#social
  header
    h2
      span.bold Follow&nbsp;
      span.light Us
  .social-container
    .facebook-container
      .fb-page(data-href="https://www.facebook.com/clavvsatl" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true")
        .fb-xfbml-parse-ignore
          blockquote(cite="https://www.facebook.com/clavvsatl")
            a(href="https://www.facebook.com/clavvsatl") CLAVVS
