section#social
  header
    h2
      span.bold Follow&nbsp;
      span.light Us
  .social-container
    .twitter-container
      a.twitter-timeline(href="https://twitter.com/johnnn-mitchell" data-widget-id="730979284525977600") Tweets by @johnnn_mitchell
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .facebook-container
      .fb-page(data-href="https://www.facebook.com/clavvsatl" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true")
        .fb-xfbml-parse-ignore
          blockquote(cite="https://www.facebook.com/clavvsatl")
            a(href="https://www.facebook.com/clavvsatl") CLAVVS
