section#videos
  header
    h2
      span.bold Latest&nbsp;
      span.light Videos
    .subscribe
      a(href="https://www.youtube.com/user/clawsatl")
        img(src="img/subscribe.png" alt="subscribe" width="100" height="24")
  .videos-container
    .video
      iframe(width="324" height="192" src="https://www.youtube.com/embed/habwjAeoVtg?feature=oembed" frameborder="no")
      .video-label Throats
    .video
      iframe(width="324" height="192" src="https://www.youtube.com/embed/Qb0cQU6W1M8?feature=oembed" frameborder="no")
      .video-label Sit You Down
    .video
      iframe(width="324" height="192" src="https://www.youtube.com/embed/I9qkGHnIccU?feature=oembed" frameborder="no")
      .video-label A$AP ROCKY "L$D"
