section#videos
  header
    h2
      span.bold Latest&nbsp;
      span.light Videos
    .subscribe
      a(href="https://www.youtube.com/user/clawsatl")
        img(src="img/subscribe.png" alt="subscribe" width="100" height="24")
  .videos-container
    each vid in videos.iframes
      .video
        iframe(width="#{videos.width}" height="#{videos.height}" src="#{vid.src}" frameborder="no")
        .video-label= vid.label
