@import '../../../mixins';
@import '../../../theme';

.banner {
  @include page;
  background: url('../../../images/banner2.jpg') no-repeat center / cover;
  border-bottom: 1px solid $purple;
  border-top: 1px solid $purple;

  @include mobile {
    height: 50vh;
    min-height: auto;
  }
}
