doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="clavvs atlanta music")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="/favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet")
    title CLAVVS
  body
    header#header
      .thumbnail-container
        a(href="http://blueowlmedia.com/clawsatl/")
          img(src="img/thumbnail.jpg" alt="thumbnail" width="100" height="100")
      nav
        ul
          li
            a(href="https://www.facebook.com/clavvsatl")
              i.fa.fa-facebook
              span Facebook
          li
            a(href="https://twitter.com/clavvsatl")
              i.fa.fa-twitter
              span Twitter
          li
            a(href="https://soundcloud.com/clavvsatl")
              i.fa.fa-soundcloud
              span Soundcloud
          li
            a(href="https://www.youtube.com/c/Clavvstv")
              i.fa.fa-youtube
              span Youtube
          li
            a(href="https://open.spotify.com/artist/2JcWOIfDeHESCg42COyDy1")
              i.fa.fa-spotify
              span Spotify
    include ./components/header.jade
    main#main
      section
        h2 404
    include ./components/footer.jade
