doctype html
html(lang="en")
  head
    include ./includes/meta.jade
    meta(name="robots" content="noindex")
    include ./includes/link.jade
    title CLAVVS
  body
    include ./components/header.jade
    main#main
      section
        h2 404
    include ./components/footer.jade
