doctype html
html(lang="en")
  head
    include ./includes/meta.jade
    include ./includes/link.jade
    title CLAVVS
  body
    include ./components/header.jade
    main#main
      section
        h2 Admin
    include ./components/footer.jade
