extends ./layout.jade

block content
  include ./components/facebook-sdk.jade
  include ./components/header.jade
  main#main
    include ./components/banner.jade
    include ./components/bio.jade
    include ./components/releases.jade
    include ./components/listen.jade
    include ./components/quote.jade
    include ./components/social.jade
    include ./components/calendar.jade
    include ./components/videos.jade
    include ./components/photos.jade
    include ./components/contact.jade
  include ./components/footer.jade
