#footer {
  border-top: 1px solid $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $background-color;

  ul {
    display: flex;

    li {
      font-size: 18px;
      text-transform: uppercase;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      a {
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
