#footer {
  border-top: 1px solid $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $background-color;
}

#footer ul li {
  font-size: 18px;
}
