#photos .photos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;

  img {
    border: 1px solid $primary-color;
    border-radius: 4px;
  }
}
