#releases {
  .releases-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .release {
    margin-right: 20px;

    img {
      border: 1px solid $primary-color;
      border-radius: 4px;
    }

    &:last-child {
      margin-right: 0;
    }

    .release-label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 24px;
      border-top: 2px solid $foreground-color;
      margin-top: 5px;
    }
  }
}
