#social {
  padding-top: 80px;

  .social-container {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;

    .twitter-container {
      flex-basis: 460px;
      margin-right: 40px;
    }

    .facebook-container {
      flex-basis: 340px;
      margin-left: 40px;
    }
  }
}
