#videos {
  h2, .subscribe {
    margin-bottom: 30px;
  }

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .videos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .video {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    .video-label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 24px;
      border-top: 2px solid $foreground-color;
      margin-top: 5px;
    }
  }
}
