@import '../../../theme';
@import '../../../mixins';

.soundcloud {
  flex-basis: 50%;

  @include mobile {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  h2 {
    border-bottom: 1px solid $purple;
    font-size: 48px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 10px;
    max-width: 200px;
    text-align: center;
  }
}
