@import 'init/index';
@import 'components/index';

/* general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 120px 0 0 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $foreground-color;
  min-height: calc(100vh - 60px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 1em 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

main {
  min-height: calc(100vh - 60px - 40px);
  background: url('../img/banner.jpg') no-repeat center center fixed;
  background-size: cover;
}

section {
  padding-bottom: 80px;
  background-color: $background-color;
}

section:last-child {
  padding-bottom: 120px;
}

section header h2 {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 60px;
}

/* utility */
.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}
