@import '../../../mixins';
@import '../../../theme';

.tagline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: $black;
    font-family: 'Nunito', sans-serif;
    font-size: 300px;
    font-weight: 400;

    @include mobile {
      font-size: 120px;
    }
  }

  h2 {
    color: $blue;
    font-family: 'Audiowide', cursive;
    font-size: 64px;
    font-weight: 400;

    @include mobile {
      font-size: 40px;
    }

    .separator-one,
    .separator-two {
      color: $purple;
    }
  }
}
