@import './theme';

body {
  background: $black;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

html,
body {
  height: auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:global {
  #mc_embed_signup {
    background: $black;
    clear: left;
    font: 14px 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 800px;

    h2 {
      color: $white;
    }

    .asterisk {
      color: $purple;
    }
  }

  #mce-EMAIL {
    color: $black;

    &:focus {
      outline-color: $purple;
    }
  }

  #mc-embedded-subscribe {
    background: $purple !important;

    &:focus {
      outline: 0;
    }
  }
}
