$mobile: 'only screen and (min-width: 320px) and (max-width: 940px)';

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin clearfix {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }
}

@mixin page {
  height: 100vh;
  min-height: 700px;
}
